html {
    background-color: #4a6e77;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 1.5em;
}

p{
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
}

.scoreboard {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: white;
    width: 10em; 
    background-color: #c76259;
    border: 5px solid white;
    border-radius: 5px;
    padding: 0em 1.5em;
    text-align: center;
    margin: 0px;
}

.p5Canvas{
    border: 5px solid white; 
    border-radius: 5px;
}